[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "rsparkling"]
	path = rsparkling
	url = https://github.com/cran/rsparkling
	shallow = true
	registered = true
